{% load static %}
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <script src="{% static 'js/dropzone.min.js' %}"></script>
    <script src="{% static 'js/dropzone-amd-module.min.js' %}"></script>
    <script src="{% static 'js/webapp.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.js" ></script>
    <!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	    <!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
	    <style type="text/css">
	   label.error {
        color: red;
       }
    </style>