<html class="no-js" lang="ja">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>トップ</title>
    {% include "./common/commonHead.html" %} 
  </head>

  <body id="page-top">
{% include "./common/commonPageMenu.html" %}
{% include "./common/commonPageHeader.html" %}
	
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    	
      <!-- Content Header (Page header) -->
      <section class="content-header">
      	<h3>Check website address and Download CSV </h3>
       {% load static %}
      	<img src="{% static 'img/loading.gif'%}"  alt="Flowers in Chania" style="display: none;" id ="my_image">
		<form class="form-inline" action={% url 'convert-csv' %} method ="post" enctype="multipart/form-data" id = "my_form">
		  {% csrf_token %}
		  <div class="form-group ">
		    <input type="file" name="csv_file" class="form-control-file" id="inputGroupFile02" accept=".csv" >
		  </div>
		   <button type="submit" class="btn btn-primary">Check</button>	
		</form>
		<label class="custom-file-label" for="inputGroupFile02"></label>

		<div id ="message-info"></div>


<form action={% url 'convert-csv-new' %} class="dropzone clsbox" id="my-awesome-dropzone" enctype="multipart/form-data">

   {% csrf_token %}

</form>
   <button type="button" class="btn btn-primary" id = "btn-upload-file">Convert</button>	
      </section>
      <!-- Main content -->
      <section>

      </section>
    </div>
    <!-- /.content-wrapper -->
  {% include "./common/commonScripts.html" %}
   <script>
   
   </script>
  </body>
</html>

